<mat-card>

  <mat-card-header>
    <mat-card-title>
      {{ cardTitle }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">

        <input matInput placeholder="Item" formControlName="item" >
      </mat-form-field>
      <mat-form-field class="full-width">

        <input matInput placeholder="Link ou Loja" formControlName="link" >
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="save()" style="margin-right: 5px;" color="primary">Salvar</button>
    <button mat-raised-button (click)="clear()" color="warn">Limpar</button>
  </mat-card-actions>
</mat-card>
